@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap');
body{
    background-color: rgba(247, 246, 242, 0.856);
    font-family: 'Roboto Slab', serif;
    font-family: 'Rokkitt', serif;
    box-sizing: calc(100% - 2px rgb(250, 233, 0) rgb(68, 68, 133));
}
input:hover {
    background-color: rgb(209, 205, 223);
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1)
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    height: 30px;
    border-radius:5px ;
}
button:hover {
    background-color: rgb(210, 221, 217);
    transform: scale(1.1);
}
.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 35px;
}
h3 {
    font-size: 20px;
}
.createKey {
    width:400px;
    border: 1px solid;
}

.valuePubKey {
    border: 1px solid;
    width: 370px;
    height: 160px;
}

.valuePubKey p {
    float: right;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
}

.titlePubKey {
    position: relative;
    top: 30px;
    left: 10px;
    background-color: aliceblue;
    width: 168px;
}

/* 234 */
.valuePriKey {
    border: 1px solid;
    width: 370px;
    height: 60px;
}

.valuePriKey p {
    float: right;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
}

.titlePriKey {
    position: relative;
    top: 30px;
    left: 10px;
    background-color: aliceblue;
    width: 168px;
}
.showAllOfKey {
    position: relative;
    left: 13px;
}
.btnCreateKey {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}
.containerKey{
    display: flex;
    justify-content: space-around;
}
.singDocuments {
    border: 1px solid;
    width: 750px;
}

ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
}
.inpResult {
    width: 600px;
    height: 250px;
}
